# MongoDB Atlas Connection URI
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/warkop_db?retryWrites=true&w=majority

# NextAuth Configuration
NEXTAUTH_SECRET=rahasia-warkop-super-secret-key-123456
NEXTAUTH_URL=http://localhost:3000

# Cloudinary Configuration (Upload Gambar Menu)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Default Admin Seed Credentials (Optional)
ADMIN_DEFAULT_EMAIL=admin@warkop.com
ADMIN_DEFAULT_PASSWORD=adminwarkop123

# Seed Security Key (Required if triggering /api/seed in production)
SEED_SECRET=secret-seed-key-12345
